body {
    font-family: Arial, sans-serif;
    background-color: #c2ddf9; /* light grey background */
}

.chat-container {
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #e5e5ea; /* Light gray background */
    border: 1px solid #ccc; /* Soft gray border */
    border-radius: 10px; /* Increased border radius for a more rounded look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    display: flex;
    flex-direction: column;
}

#chat-box {
    color: #333;
    width: 450px;
    height: 400px;
    padding: 10px;
    background-color: #f9f9f9; /* Soft white background */
    border: 1px solid #ddd; /* Light gray border */
    margin-bottom: 10px;
    overflow-y: auto;
    margin: 0 auto;
    display: flex; /* Add display: flex to center the connecting text */
    justify-content: center; /* Center the connecting text horizontally */
    align-items: center; /* Center the connecting text vertically */
}

.connecting-text {
    font-size: 18px;
    color: #ccc; /* Light gray text color */
}

#message-input {
    flex-grow: 1;
    margin-top: 20px;
    margin-left: 14px;
    margin-right: 135px;
    padding: 10px;
    border: 1px solid #ccc; /* Soft gray border */
}

#send-btn {
    position: relative;
    margin-top: -20px;
    bottom: 20px;
    left: 387px;
    width: 100px;
    padding: 11px;
    border: none;
    background-color: #007bff; /* Green background */
    color: white;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #103dd1; /* Darker green on hover */
}

#back-btn {
    position: relative;
    margin-bottom: 20px;
    top: 100px;
    left: 190px;
    width: 100px;
    padding: 11px;
    border: none;
    background-color: #9b9797; /* Green background */
    color: white;
    cursor: pointer;
}

#back-btn:hover {
    transform: scale(1.1);
    background-color: #636363; /* Darker green on hover */
}



/* Add this to your chat.css file */

/* Style the buttons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Reconnect button styles */
  #reconnect-btn {
    position: relative;
    width: 480px;
    bottom: 105px;
    background-color: #34C759; /* Green color */
    color: #fff;
  }
  
  #reconnect-btn:hover {
    background-color: #2E865F; /* Darker green on hover */
  }
  
  /* Disconnect button styles */
  #disconnect-btn {
    position: relative;
    width: 480px;
    bottom: 20px;
    background-color: #FF3737; /* Red color */
    color: #fff;
  }
  
  #disconnect-btn:hover {
    background-color: #d63434; /* Darker red on hover */
  }
  
  /* Add some spacing between buttons */
  button + button {
    margin-left: 10px;
  }